@charset "UTF-8";
/* ---------------------------------------------------------------------------------------------------- 
 * 프로필 네비게이션
 * ---------------------------------------------------------------------------------------------------- */
#section-nav li:nth-child(2) {
	font-weight: bold;
}
/* ---------------------------------------------------------------------------------------------------- 
 * 
 * ---------------------------------------------------------------------------------------------------- */
main article {
	display: flex;
	min-height: 483px;
	padding: 0;
}

main article .user-list {
	flex-basis: 300px;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main article .chat-view {
	flex-grow: 1;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main article .chat-view .chat-contents {
	height: calc(100% - 60px);
}

main article .chat-view .chat-input {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

main article .chat-input {
	padding: 12px;
	box-sizing: border-box;
}

main article .chat-input .message {
	display: block;
	width: calc(100% - 10px);
	height: 40px;
	padding-left: 20px;
	border: none;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.1);
}

main article .chat-input .message:focus {
	border: none;
}

main article .chat-input .material-symbols-outlined {
	position: relative;
    top: -32px;
    right: calc(-100% + 48px);
    opacity: 30%;
    cursor: pointer;
}
main article .chat-input .material-symbols-outlined:hover {
	opacity: 50%;
}
/* ----------------------------------------------------------------------------------------------------
 * 페이지 버튼 스타일 시트
 * ----------------------------------------------------------------------------------------------------
 * 	footer#main article-footer
 *		div.paging
 *			div.paging-buttons
 *				button * 5+
 * ---------------------------------------------------------------------------------------------------- */
#article-footer .paging-buttons {
	display: flex;
	width: fit-content;
	margin: 0 auto;
}

#article-footer .paging-buttons * {
	min-width: 32px;
}