@charset "UTF-8";

@charset "UTF-8";
/* ----------------------------------------------------------------------------------------------------
 * 게시판 카테고리 스타일 시트
 * ----------------------------------------------------------------------------------------------------
 * 	nav#category-nav
 *		ul
 *			li
 *				a
 * ---------------------------------------------------------------------------------------------------- */
#article-header .category-nav ul {
	padding: 0;
	margin-left: 5px;
}

#article-header .category-nav li {
	display: inline-block;
}

#article-header .category-nav li:before {
	content: " | ";
}

#article-header .category-nav li:first-child:before {
	content: none;
}

#article-header .category-nav a, .category-nav a:visited {
	color: black;
	text-decoration: none;
}
/* ----------------------------------------------------------------------------------------------------
 * 게시판 검색창 스타일 시트
 * ----------------------------------------------------------------------------------------------------
 * 	#article-header
 *		.search-box
 *			form
 *				input[type="radio"] * 3
  *				input[type="text"]#keywords
 *				span#submit
 * ---------------------------------------------------------------------------------------------------- */
#article-header .search-box {
	margin-top: 10px;
	text-align: center;
}

#article-header .search-box #keywords {
	width: calc(100% - 210px);
	height: 30px;
	margin-left: 10px;
}

#article-header .search-box .material-symbols-outlined {
	position: relative;
	top: 8px;
	right: 34px;
	width: 0;
	color: rgba(0, 0, 0, 0.5);
}

#article-header .search-box #submit {
	cursor: pointer;
}
/* ----------------------------------------------------------------------------------------------------
 * 페이지 버튼 스타일 시트
 * ----------------------------------------------------------------------------------------------------
 * 	footer#article-footer
 *		div.paging
 *			div.paging-buttons
 *				button * 5+
 * ---------------------------------------------------------------------------------------------------- */
#article-footer .paging-buttons {
	display: flex;
	width: fit-content;
	margin: 0 auto;
}

#article-footer .paging-buttons * {
	min-width: 32px;
}
/* ----------------------------------------------------------------------------------------------------
 * 글쓰기 버튼 영역
 * ---------------------------------------------------------------------------------------------------- */
article footer {
	text-align: right;
}
/* ----------------------------------------------------------------------------------------------------
 * 게시물
 * ---------------------------------------------------------------------------------------------------- */
#routemap-page {
	margin: 0;
	padding: 0;
}

.plan-contentsbox {
	position: relative;
	width: 898px;
	height: 148px;
	background-color: white;
	margin: 10px 0;
	float: right;
	border: 0.1rem solid navy;
	border-radius: 1rem;
	overflow: hidden;
}

.plan-contentsbox * {
	margin: 0;
	padding: 0;
}

.plan-contentsbox a {
	text-decoration: none;
}

.plan-contentsbox ul {
	list-style: none;
}

.plan-contentsbox .txt_hide {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #ff8000;
}

.plan-contentsbox .tit {
	max-height: 6rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	line-height: 1.3;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

.plan-contentsbox .writedate {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

.plan-contentsbox .writedate:before {
	content: " ";
}

.plan-contentsbox .writedate:after {
	content: "";
}

.plan-contentsbox .tit a:visited {
	color: black;
}

.plan-contentsbox .txt_wrap>ul>li+li {
	margin: 1.2rem 0 0;
}

.plan-contentsbox .schedule {
	width: 720px;
	max-height: 4rem;
	border-radius: 1rem;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	box-shadow: 0.1rem 0.1rem 0.8rem rgb(0 0 0/ 10%);
	border: 0.1rem solid #ddd;
}

.plan-contentsbox .schedule span {
	padding: 0.6rem 2rem 0.6rem 0.8rem;
	display: inline-block;
	position: relative;
	border-radius: 0.5rem;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.plan-contentsbox .schedule span:after {
	content: '';
	width: 1.2rem;
	height: 1.2rem;
	margin: -0.5rem 0 0;
	position: absolute;
	top: 50%;
	right: 0.3rem;
	background: url(../images/right_arrow.svg) 0 0 no-repeat;
	background-size: cover;
	opacity: 0.7;
}

.plan-contentsbox .schedule span:last-child:after {
	background: none;
}

.plan-contentsbox .date {
	position: absolute;
	right: 2rem;
	bottom: 10px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.plan-contentsbox .ico_wrap {
	list-style: none;
}

.plan-contents-img {
	width: 149px;
	height: 149px;
	border-right: 1px solid navy;
	float: left;
}

.plan-contents-img img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.plan-contentsbox .img {
	width: 16rem;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

.plan-contents-text {
	width: 735px;
	height: 100%;
	padding-top: 10px;
	padding-left: 10px;
	position: relative;
	float: left;
	overflow: hidden;
}

.plan-contents-lefttext {
	width: 600px;
	height: 100px;
	float: left;
}

.plan-contents-lefttext h4 {
	color: #ff8000;
	font-size: 13px;
	float: left;
	line-height: 2;
}

.plan-contents-long {
	height: 55px;
	font-size: 12px;
	margin-top: 30px;
	clear: both;
}

.plan-contents-long-date {
	width: 50%;
	height: 20px;
	float: left;
	clear: both;
}

.plan-contents-long a>span {
	height: 25px;
	font-weight: normal;
	font-size: 13px;
	line-height: 1.6;
	margin-top: 8px;
	overflow: hidden;
	clear: both;
	float: left;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
}

.plan-contents-date {
	width: 130px;
	height: 20px;
	font-size: 13px;
	float: left;
	overflow: hidden;
	text-align: center;
	line-height: 1.5;
}

.mojib_d-Day {
	width: 130px;
	height: 30px;
	text-align: center;
	margin-top: 20px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}

.mojib_d-Day_immi {
	width: 130px;
	height: 30px;
	text-align: center;
	margin-top: 20px;
	float: left;
	font-size: 15px;
	color: red;
	font-weight: bold;
}

.mojib_complet {
	width: 130px;
	height: 30px;
	text-align: center;
	margin-top: 20px;
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: red;
}

.plan-contents-info {
	width: 740px;
	height: 25px;
	float: left;
}

.plan-contents-writer {
	width: 620px;
	height: 25px;
	float: left;
	margin-top: 5px;
	padding-left: 10px;
}

.plan-contents-writer span {
	font-size: 14px;
	font-weight: bold;
}

.plan-contents-readcount {
	width: 110px;
	height: 25px;
	float: right;
	font-size: 13px;
}

.plan-contents-readcount ul {
	list-style: none;
}

.plan-contents-readcount li {
	float: left;
}

.plan-contents-readcount li:nth-child(2n) {
	margin: 12px 0 0 4px;
}

.plan-contents-readcount-s {
	height: 25px;
	float: left;
	box-sizing: content-box;
}

.plan-contents-readcount-c {
	box-sizing: content-box;
}